*{
	padding:0; margin:0;
}
body{
	position: relative;
}
.fixedImg{
	position: fixed;top: 30%;left: 20%;
}
.nav{
	position:fixed; top:0;left:0; background-color:#101010; height:50px;
	line-height:50px; width:100%;
}
.navList{
	width:50%; margin:0 auto;
}
.navList li{
	float:left; list-style:none; width:25%;text-align:center;
}
.navList a{
	color:#ffffff; font-size:20px; 
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:"."; clear:both; line-height:0; height:0; visibility:hidden;
}
.page4Img{
	position:relative; left:20%; top: 0;
}
.description{
	position:absolute; top:30%; left:50%;
}
.section1{
	background: url('../img/p1.jpg') no-repeat;
	background-size: cover;
}
.section2{
	background: url('../img/p2.jpg') no-repeat;
	background-size: cover;
}
.section3{
	background: url('../img/p3.jpg') no-repeat;
	background-size: 100%;
}
.section4{
	background: url('../img/p4.jpg') no-repeat;
	background-size: cover;
}
.section5{
	background: url('../img/p5.jpg') no-repeat;
	background-size: cover;
}
.down{
	position:relative;top: 95%;left: 50%; display: inline-block;
	width: 30px;
	height: 20px;
	background-color: #333333;
}
